.page-header {
    background-color: $grey;
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.page-header__summary {
    padding: 2rem 0;
    padding-top: 0;
    color: $font-color-dark;
    font-family: $primary-font;
    font-weight: 400;
    font-size: $l-size;
    span {
        font-weight: 800;
    }
}

.page-header__action {
    margin-bottom: 10px;
    padding-bottom: 3rem;
}

.page-header__greeting {
    text-align: right;
    font-style: italic;
    color: darken(#303030, 2%);
    font-family: $secondary-font;
    font-size: $m-size;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}