// Font Colors
$font-color-dark: #212121;
$font-color-light: #fcfcfc;

//Colors
$primary-color: #46237a;
$secondary-color: #4285F4;
$accent-color: #3ddc97;
$red: #f44336;
$grey: #f3f3f3;


//Font
$primary-font: 'Roboto Slab';
$secondary-font: 'Montserrat';

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
